
.part-choices {
    background-color: rgb(77, 86, 111);
    padding: 13% 15%;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    clip-path: polygon(
        0% 0%,
        86% 0%,
        100% 100%,
        0% 100%);
}

.part-choices h3 {
    color: white;
    font-size: 120%;
    margin-bottom: 10px;
}

.closeModalBtn {
    padding: 1%;
    display: block;
    position: absolute;
    bottom: 2%;
    
    font-weight: bolder;
    font-size: 200%;
    width:94%;
    color: white;
    background: none;
    border: none;

}

.closeModalBtn:hover {
    text-shadow: 3px 5px black;
    color: black;
    bottom: 2.5%;
}

#partList {
    overflow: auto;
    /* border: 1px solid white; */
    height: 91%;
    padding-left: 16%;

}

.swordPartDetails {
    padding: 5px;
    width: 100%;
    /* border: 1px wheat dotted; */
    text-align: left;
    color: white;
}

.swordPartDetails img {
    width: 30%;
    display: inline-block;
}

.swordPartDetails p {
    width: 60%;
    display: inline-block;
}

.bladeContent{
    /* background-color: red; */
}

.bladeContent img {
    width: 100%;
}