
.part-choices {
    background-color: rgb(77, 86, 111);
    padding: 13% 15%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
    clip-path: polygon(
        0% 0%,
        86% 0%,
        100% 100%,
        0% 100%);
}

.part-choices h3 {
    color: white;
    font-size: 120%;
    margin-bottom: 10px;
}

.closeModalBtn {
    padding: 1%;
    display: block;
    position: absolute;
    bottom: 2%;
    
    font-weight: bolder;
    font-size: 200%;
    width:94%;
    color: white;
    background: none;
    border: none;

}

.closeModalBtn:hover {
    text-shadow: 3px 5px black;
    color: black;
    bottom: 2.5%;
}

#partList {
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid white; */
    height: 91%;
    padding-right:10px;
    padding-left: 16%;

}

.swordPartDetails {
    padding: 7px;
    width: 100%;
    /* border: 1px wheat dotted; */
    text-align: left;
    color: white;
    border: 2px solid rgb(49, 54, 70);
    border-radius: 5px;
    margin:5px;
}

.swordPartDetails:hover{
    border: 2px solid white;
}

.swordPartDetails img {
    width: 30%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.swordPartDetails h4 {
    margin-bottom: 10px;
}

.swordPartDetails p {
    width: 60%;
    display: inline-block;
}

.bladeContent p {
    width: 100%;
}

.bladeContent{
    /* background-color: red; */
}

.bladeContent img {
    width: 100%;
}

/* scrollbar customization */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(49, 54, 70); 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(39, 64, 147); 
}