<div class="userAccessWrap loginWrap" *ngIf="logingIn">
  <h2>Please Log In</h2>
  <form>
    <input type="text" placeholder="E-mail">
    <input type="password" placeholder="Password">
  </form>
  <div>
    <button type="button" (click)=flip()>Create an account</button>
    <button type="button" class="proceedBtn">Log In</button>
  </div>

</div>

<div class="userAccessWrap registerWrap" *ngIf="!logingIn">
  <h2>Please Register</h2>
  <form>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Your e-mail address">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Re-enter Confirm Password">
  </form>
  <div>
    <button type="button" (click)=flip()>Log in instead</button>
    <button type="button" class="proceedBtn">Register</button>
  </div>
</div>