<div class="userAccessWrap loginWrap">
  <h2>Please Log In</h2>
  <form>
    <input type="text" placeholder="E-mail">
    <input type="password" placeholder="Password">
  </form>
  <div>
    <button type="button">Create an account</button>
    <button type="button">Log In</button>
  </div>

</div>

<div class="userAccessWrap registerWrap">
  <h2>Please Register</h2>
  <form>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Your e-mail address">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Re-enter Confirm Password">
  </form>
  <button type="button" class="switchToLog">Log in instead</button>
  <button type="button">Log In</button>
</div>