.mainWrapper{
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-top:60px;
    /* overflow: scroll; */
}

.mainWrapper h2, .mainWrapper h3{
    font-size: 200%;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    display: block;
}


#content{
    padding-top:60px;
    overflow: auto;
}

@media (min-width:490px){
    .left, .right {
        display: inline-block;
        width:49%;
    }
    
    .partToolsWrap{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width:489px){
    .partToolsWrap{
        display: block;
    }
    .left, .right{
        display: block;
        width: 100%;
    }
}
