<div id="swordBuilder">
  <div id="swordPartsMenu">
    <div (click)="changeBlade('cav-sidesword-blade.obj')">
      <h3>BLADES</h3>
    </div>

    <div (click)="changeGuard('cav-sidesword-guard.obj')">
      <h3>
        GUARDS
      </h3>
    </div>

    <div (click)="changeGrip('cav-sidesword-grip.obj')">
      <h3>GRIPS</h3>
    </div>

    <div (click)="changePommel('cav-sidesword-pommel.obj')">
      <h3>POMMELS</h3>
    </div>
  </div>

  <canvas id="swordCanvas" (mousedown)="mouseDrag($event)" (mousemove)="mouseMove($event)" (mouseleave)="mouseDrop($event)"
    (mouseup)="mouseDrop($event)"></canvas>


  <div class="tools">
    <div (click)="cameraRotate(7.5,0,0)">R X + </div>
    <div (click)="cameraRotate(-7.5,0,0)">R X - </div>
    <div (click)="cameraRotate(0,7.5,0)">R Y + </div>
    <div (click)="cameraRotate(0,-7.5,0)">R Y - </div>
    <div (click)="cameraRotate(0,0,7.5)">R Z + </div>
    <div (click)="cameraRotate(0,0,-7.5)">R Z - </div>
    <br>
    <div (click)="cameraMove(1,0,0)">M X + </div>
    <div (click)="cameraMove(-1,0,0)">M X - </div>
    <div (click)="cameraMove(0,1,0)">M Y + </div>
    <div (click)="cameraMove(0,-1,0)">M Y - </div>
    <div (click)="cameraMove(0,0,1)">M Z + </div>
    <div (click)="cameraMove(0,0,-1)">M Z - </div>
  </div>

  <app-partModal class="part-modal" [style.display]="showingModal" [partType]="modalSubject" [currentSetup]="swordGeo" (modalStat)="hideModal($event)">
  </app-partModal>

</div>