@media screen and (orientation: portrait){
    html{
        transform: rotate(90deg);
    }
}

#swordCanvas {
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
}

.tools{
    display: none;
    z-index: 800;
    position: absolute;
    height: 120px;
    width: 50%;
    bottom: 0%;
    left:25%;
    background-color: black;
    overflow: scroll;
}

.tools div {
    /* height: 30px; */
    color: white;
    padding:5px;
    margin:5px;
    border: 1px white solid;
    display: inline-block;
}

#swordBuilder {
    position: static;
}


#swordPartsMenu {
    z-index: 2;
    position: absolute;
}

#swordPartsMenu div {
    color: white;
    background-color: rgb(61, 65, 70);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#swordPartsMenu div:hover{
    background-color: rgb(39, 46, 55);
}

@media screen and (min-width:768px){
    #swordPartsMenu {
        padding-top:60px;
    
        height: 100%;
        width: 7%;
    }
    
    #swordPartsMenu div {
        height: 25%;
        width: 100%;
        font-size: 120%;
        top: 0%;
        left: 0%;
        vertical-align: top;
        padding: 30px;
        clip-path: polygon(
            0% 0,
            100% 0%,
            80% 100%,
            0 100%);
    }
    
    
    #swordPartsMenu div h3{
        font-size: 100%;
        transform: rotate(-90deg) translateX(-126%);
        /* margin-top: 30%; */
        margin: auto;
        position: relative;
        /* top:36%;
        left:-14%; */
    }
}
@media screen and (max-width:767px){
    #swordPartsMenu {
        bottom:0;
        /* display: flex; */
        justify-content: space-around;
    }

    #swordPartsMenu div {
        position: relative;
        display: inline-block;
        width: 20%;
        padding: 20px 0;
    }

    #swordPartsMenu div h3{

    }
}



.part-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    height: 100%;
    width: 46%;
    top:0;
}
