<div id="navBar">
    <h1 [routerLink]="['/home']" style="cursor: pointer">SwordBuilder</h1>
    <div id="menuBtn">
        <img src="/assets/img/menuBtn.png">
        <div id="menu">
            <a [routerLink]="['/swordbuilder']">SwordBuilder</a>
            <a [routerLink]="['/premades']">Premade Swords</a>
            <a [routerLink]="['/login']">Account</a>
            <a [routerLink]="['/admin']">Admin</a>
        </div>
    </div>
</div>
<div id="content">
    <router-outlet></router-outlet>

</div>