#navBar {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 60px;
    width: 100%;
    background-color: rgb(61, 65, 70);
    color: white;
    vertical-align: middle;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

#navBar * {
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width:375px){
    h1{
        font-size: 120%;
    }
}

#menuBtn {
    float: right;
}

#menuBtn img{
    max-height: 40px;
    max-width: 40px;
    margin-right: 10px;
}

#menuBtn:hover #menu {
    display: block;
}

#menu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 1%;
}

#menu a {
    display: block;
    padding:15px;
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 120%;
}

#menu a:hover{
    background-color: black;
}

#logo {
    max-height: 50px;
}