* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    vertical-align: top;
    /* user-select: none; */
}


.mainWrapper h3{
    border-top: 1px solid black;
    padding-top: 30px;
    text-transform: capitalize;
}

.mainWrapper * * h4{
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 130%;
}

h5 {
    margin-top:10px;
    margin-bottom: 4px;
    font-size: 110%;
}

.partmaker, .partlister {
    border-top: solid black 1px;
    padding:15px;
}


@font-face {
    font-family: "Elixir";
    src: url('/assets/fonts/elixir_medium-webfont.woff')
}

h1, h2, h3, h4 {
    font-family: 'Elixir';
    letter-spacing: 3px;
}

h1 {
    margin-left: 20px;
    letter-spacing: 5px;
}

body {
    background-image: url("/assets/img/hema-splash-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    overflow: scroll;
}

#swordCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

#swordCanvas:focus {
    outline: none;
}