#landing {
    position: absolute;
    text-align: center;
    right: 0;
    left:0;
    top:30%;
}

h2 {
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: rgb(61, 65, 70);
    font-weight: bolder;
}
#landing div {
    padding: 20px;
    border: 1px solid rgb(61, 65, 70);
    background: none;
    max-width: 320px;
    margin: auto;
}

#landing div:hover {
    box-shadow: 10px 5px 10px rgb(61, 65, 70);
}